html, body {
	min-height: 100%;
	margin: 0;
	padding: 0;
	font: 13px arial, sans-serif;
}
h1 {
    margin: 0 0 10px;
}
#wrapper {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
#searchPanel {
	padding: 5px;
}
#searchPanel label {
	float: left;
	min-width: 95px;
	margin: 5px 0;
	clear: both;
}
#searchPanel input {
	margin: 5px 0;
	float: left;
}
#locationPanel {
	position: absolute;
    bottom: 45px;
}
#map {
	height: 100%;
}
#imageForm {
	padding-bottom: 50px;
}
.actionPanel {
	position: fixed;
	bottom: 0;
	width: 100%;
	background: white;
	padding: 5px;
}
.actionPanel input  {
	font-weight: bold;
	font-size: 18px;
	width: 290px;
}
.sidebar {
	height: 100%;
	width: 300px;
	float: left;
	overflow-y: scroll;
	overflow-x: hidden;
}
.imageCheckbox {
	float: right;
}
.imageOptionPanel {
	border-bottom: 1px solid black;
	padding: 5px;
}
.imageOptionPanel label {
	width: 100%;
	display: block;
}
.message {
	color: white;
	padding: 10px;
	margin: 10px 0;
	text-align: center;
}
.error {
	background-color: red;
}
.welcome {
	background-color: grey;
}
.success {
	background-color: green;
}
